*{
    margin : 0;
    padding : 0;
    box-sizing: border-box;
}
.topbar{
    width : 100%;
    height: 80px;
    box-shadow: 2px 4px 5px #ccc;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding : 0 20px;
}
.logo{
    width : 50px;
    margin : 0 10px 0 50px;
}
.logoText{
    font-size : 24px;
    font-weight: 500;;
    margin : 0 10px;
    color: black;
    border-style: groove;
}